<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container {
        position:fixed;
    top: 30%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}


</style>
<body>
    <div class="container">
        <div class="child">
            
                <center>

                    <h4>Enter url to get top 10 most frequent words</h4>
                    <form method="POST" action="{%url 'result'  %}" >
                        {%csrf_token%}
                        <label for="url">Enter url: </label>
                        <input type="url" id="url" name="input_url">
                        <br>
                        <br>
                        <input type="submit" value="submit" >
                    </form>
                    
                </center>
            
        </div>
    </div>
  
</body>
</html>